h1 {
    font-size: 48px;
    text-align: center;
    color: #1adc00;
}

.todo-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 10px;
}

.todo-list-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.todo-list-box:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.todo-list-box.completed {
    background-color: #b3eabf;
}

.todo-list-box p {
    margin: 0;
    text-align: center;
}

.todo-list-box h2 {
    text-align: center;
}

.completed {
    background-color: #1adc00;
}

@media (max-width: 1024px) {
    .todo-list-container {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .todo-list-container {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        width: 80%;
        font-size: 38px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .todo-list-container {
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        font-size: 34px;
        margin: 0 auto;
    }
}