header {
  width: 100%;
  background-color: #4fc953;
  padding: 10px;
  color: #fff;
}

.header-items {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}


h1 {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}

h1:hover {
  color: #0d3e06;
  transition: 0.3s;
  cursor: pointer;
}

div {
  margin: 0 10px;
}


.date {
  position: absolute;
  right: 0;
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    margin-left: 0px;
  }

  div {
    margin: 0 5px;
  }
}