header {
  position: relative;
  background-color: #4CAF50;
  padding: 10px;
  color: #fff;
}
  
.header-items{
  display: flex;
  align-items: center;
}

.menu-icon{
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}
  

h1{
  padding-left: 30px;
  text-decoration: none;
  color: #fff;
}

h1:hover{
  color: #135c09;
}
  
div {
  margin: 0 10px;
}
 

.date{
  position: absolute;
  right: 0;
}